body {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   background-color: rgb(152, 158, 197); 
   overflow: hidden;
}
.valentines-day{
    position: relative;
    cursor: pointer;
}